<% unless feed_item.is_reply? %>
  <li id="<%= feed_item.id %>">
    <span class="user">
      <%= link_to "@#{feed_item.user.name}", feed_item.user %>
    </span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
      <a href="#" data-micropost-id="<%= feed_item.id %>" 
        class="replies-link <%= "no-replies" if feed_item.replies(feed_item.id).count <= 0 %>">
        <%= feed_item.replies(feed_item.id).count %> replies
      </a>
    </span>
    <%= link_to "reply", reply_path(feed_item) %>
    <% if current_user?(feed_item.user) %>
      <%= link_to "delete", feed_item, method: :delete,
                                       data: { confirm: "You sure?" },
                                       title: feed_item.content %>
    <% end %>
  </li>
  <% if feed_item.replies.any? %>
    <ul class="replies" data-replies-for="<%= feed_item.id %>">
      <%= render partial: 'shared/reply_item', collection: feed_item.replies, as: 'reply' %>
    </ul>
  <% end %>
<% end %>