<li id="<%= reply.id %>">
  <span class="user">
    <%= link_to "@#{reply.user.name}", reply.user %>
  </span>
  <span class="content"><%= reply.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(reply.created_at) %> ago.
  </span>
  <% if current_user?(reply.user) %>
    <%= link_to "delete", reply, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: reply.content %>
  <% end %>
</li>
