<h4>Reply <%= @origin.user.name %> <small>Posted <%= time_ago_in_words(@origin.created_at) %> ago.</small></h4>
<p class="quote">
  <%= @origin.content %>
</p>
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :reply_to_id, value: @micropost.reply_to_id %>
  <div class="field">
    <%= f.text_area :content, :value => "@#{@origin.user.name}" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>